body 
{
    font-family: Helvetica;
    background-color: #C64BBC;
}

.heading {
    text-align: center;
    font-size: 20px;
}
.bodyContainer{
    padding:50px;
    margin-top:1%;
    margin-right:25%;
    margin-left: 25%;
    border: 1px solid #000000;
    border-radius: 15px;
    background-color: #ccff90;
}

#code
{
    margin-left: 10%;
}

#status
{
    margin-left: 17%;
}

#share
{
    margin-left: 10%;
}

#permission
{
    margin-left: 12%;
}

#date
{
    margin-left: 20%;
}

#pbutton
{
    margin-top: 1%;
    width: 100px;
    height: 50px;
    margin-left: 35%;
    background-color: antiquewhite;
    border-radius: 10px;
}

#rbutton
{
    margin-top: 10%;
    width: 100px;
    height: 50px;
    background-color: antiquewhite;
    border-radius: 10px;
}

#postlink
{
    border: 1px solid #000000;
    border-radius: 5px;
    background-color: antiquewhite;
    font-size: 30px;
}